*{
    margin: 0%;
    padding: 0%;
}

:root {
    --indigo:  #1b4965ff;
    --lightblue: #a1cdf4ff;
    --coffe: #573d1cff;
    --yellow: #d9ae61ff;
    --silk: rgb(253, 250, 229);
    --beige: #faedcd;
}

/* footer */
footer{
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: var(--yellow);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
}


/* header */
header{
    width: 100%;
    height: 40px;
    background-color: var(--yellow);
}

header a {
    text-decoration: none;
    color: var(--coffe);
    font-weight: bold;


}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;

}

header li {
    margin-top: 7px;
}

/* itens do menu */
.topic {
    margin-left: 50px;
    background-color: var(--beige);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.french, .portugues {
    justify-content: center;
    display: flex;
}

.photo {
    width: 90%;
    height: 75%;
    border-radius: 10px;
    margin-left: 17px;
}

#doce {
    background-image: url(../img/macaron.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
}

#bebida{
    background-image: url(../img/french_press.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    width: 90%;
}

#salgado{
    background-image: url(../img/croque_monsieur.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    width: 90%;
}

#menu {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

h1 {
    text-align: center;
    padding-top: 30px;
    color: var(--coffe);
}

#menu h5, h6 {
    color: var(--indigo);

}

/* responsividade */
@media (max-width: 860px) {
    .itens {
        margin-bottom: 20px; /* Espaçamento entre os itens */
    }
}