*{
    margin: 0%;
    padding: 0%;
}

:root {
    --indigo:  #1b4965ff;
    --lightblue: #a1cdf4ff;
    --coffe: #573d1cff;
    --yellow: #d9ae61ff;
    --silk: rgb(253, 250, 229);
    --beige: #faedcd;
}

/* footer */
footer{
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: var(--yellow);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
}


/* header */
header{
    width: 100%;
    height: 40px;
    background-color: var(--yellow);
}

header a {
    text-decoration: none;
    color: var(--coffe);
    font-weight: bold;


}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;

}

header li {
    margin-top: 7px;
}

#logo {
    width: 45px;
    height: 45px;
    margin-left: 20px;
    margin-bottom: none
}

body{
    background-color:var(--beige);
}
 
h1, h3, p{
    text-align: center;
    margin-top: 15px;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */
}

h3 {
    margin-bottom: 10px;
}

p{
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 12px;
}


button{
    padding:8px;
    border-radius: 10px;

}
form {
    text-align: center;
    background-color: var(--silk);
    padding: 15px;
    width: 50%;
    margin-left: 25%;
    color: var(--coffe);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);;
    
}

label {
    padding: 5px;

}
input, select{
    margin: 4px;
    border-radius: 5px;
    border: none;
    border: 2px solid var(--lightblue);
    text-align: center;
    color: var(--coffe);
}

button{
    background-color: var(--indigo);
    border: none;
    border: 2px solid var(--lightblue);
    color: var(--lightblue);
}

